*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; 
  
    
   
}


header{
    background-color: #404eed;
    width: 100%;
   
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
    

}

.links-header{
    display: flex;
    gap: 35px;

}

.link-header{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.button-login{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  
   
}

.button-login:hover{
    color: #404eed;
}

.logo{
    width: 140px;
    height: 65px;
}

.box{
    width: 100%;
    padding-bottom: 140px;
    background-image: url("e6d57714479874c665b36c7adee76b1d.svg");
    background-repeat: no-repeat;
    background-position: center 100%;
    
    background-color: #404eed;
    position: relative;

}

.box-filho1{
   
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
   
    
    
    
}

.titulo-principal{
    width: 400px;
    font-size: 60px;
    padding-top: 100px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;


}

.subtitulo-principal{
    font-size: 18px;
    width:800px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}


.buttons-formas-de-uso{
    display: flex;
    gap: 40px;
}

.button-formas-de-uso{
    background-color: #fff;
    font-size: 18px;
    border: none;
    color: #23272a;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
    
}

.button-formas-de-uso-roxo{
    background-color: #fff;
    font-size: 18px;
    border: none;
    color: #404eed;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}

.button-formas-de-uso:hover{
   opacity: 0;    
}




.icon-download{
    width: 25px;
    margin-right: 5px;
}






.button-formas-de-uso2{
    font-size: 18px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    padding: 20px;
    
}

.button-formas-de-uso2:hover{
    background-color: #23272a;
}

.img-box-1{
    position: absolute;
    left: -355px;
    bottom:0px;
}

.img-box-2{
    position: absolute;
    right: -310px;
    bottom:0px;
}


.box2{
    display: flex;
    padding-top: 150px;
    padding-right: 40px;
    padding-left: 100px;
    justify-content: center;
    
}

.img-box2{
    width: 2200px;
    height: 500px;
}

.text-box2{
    margin-left: 100px;
    
}

.titulo-box2{
    font-size: 48px;
}

.p-box2{
    margin-top: 40px;
    font-size: 18px;
    width: 420px;
    color: #23272a;
    
}



.box3{
    background-color: #f6f6f6;
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 80px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    
    
}

.img-box3{
    width: 800px;
    height: 500px;
}

.text-box3{
    margin-left: 100px;
    
}

.titulo-box3{
    font-size: 48px;
}

.p-box3{
    margin-top: 40px;
    font-size: 18px;
    width: 420px;
    color: #23272a;
    
}


.box4{
    display: flex;
    padding-top: 150px;
    padding-left: 0px;
    padding-right: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.img-box4{
    width: 650px;
    height: 500px;
}

.text-box4{
    margin-left: 90px;
    margin-bottom: 80px;
    width: 380px;
    
}

.titulo-box4{
    font-size: 48px;
}

.p-box4{
    margin-top: 40px;
    font-size: 18px;
    width: 350px;
    color: #23272a;
    
}

.box5{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 100px;
}

.img-box5{
    width: 90%;
    
}

.text-box5{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.titulo-box5{
    
    font-size: 50px;
    padding-top: 80px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    color: #23272a;
}

.p-box5{
    margin-top: 25px;
    font-size: 18px;
    width: 800px;
    
}

.button-formas-de-uso-branco{
    background-color: #404eed;
    font-size: 18px;
    border: none;
    color: #ffffff;
    border-radius: 30px;
    padding: 18px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
    
}

.p2-box5{
    font-size: 28px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 40px;
    position: relative;
   
}

.box-p2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-p2{
    position: absolute;
 
    
}

.button-formas-de-uso-branco:hover{
    background-color: #727cec; 
}

footer{
    background-color: #23272a;
    padding-top: 90px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

ul{
    margin-left: 80px;
}

li{
    color: #ffffff;
    margin-bottom: 10px;
    
}

.li-titulo{
    color: #5865f2;
}


.footer-part1{
    display: flex;
}




.footer-titulo{
    color: #5865f2;
    font-size: 32px;
    width: 200px;
}

.footer-p{
    color: #ffffff;
    font-size: 14px;
}

.footer-div-p{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-brasil{
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.img-seta{
    rotate: 270deg;
    margin-left: 8px;
    width: 10px;
    height: 10px;
}

.social-icon{
    width: 24px;
    height: 24px;
    margin-right:20px;
}


.footer-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 20px;
    border-top: solid #5865f2 1px;
}

.button-registrar{
    background-color: #5865f2;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}